body {
  /*background-color: #f2f2f2;*/
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

#header {
  background-image: url("../img/headerbg.jpg");
  background-size: cover;
    background-attachment: scroll;
}

#header h1 {
    color: white;
    font-size: 5em;
    font-weight: 700;
}

@media(max-width: 768){
    #header h1 {
        color: white;
        font-size: 4em;
        font-weight: 700;
    }
}

@media(max-width: 525){
    #header h1 {
        color: white;
        font-size: 3em;
        font-weight: 700;
    }
}

#header h2 {
	color: white;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
}
#welcome {
	padding-top: 35px;
	padding-bottom: 35px;
    text-align: center;
}

#welcome h2 {
	font-weight: 700;
	color: #7b7b7b;
	letter-spacing: 1px;
}

#welcome bold {
	color: #2f2f2f;
}

#welcome h3 {
  font-weight: 700;
  color: #7b7b7b;
  letter-spacing: 1px;
}


#grey{
    background-color: #f2f2f2;
}

html, body {
    overflow-x:hidden
} 